/**
 * Landing page
 */
.wrapper {
  overflow: hidden;
}
.container {
  // width: 960px;
  width: 1140px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;

  &-subtitle {
    font-size: 15px;
    color: $color-subtitle;
    text-align: center;
    font-weight: normal;
  }
  &-title {
    font-size: 33px;
    font-weight: $thin;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 17px;
    color: $color-desc;
    text-align: center;
    font-weight: $thin;
    line-height: 1.8;
    margin-bottom: 50px;
  }
  &-arrow {
    text-align: center;
  }
  &-items {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
  }
  &-item {
    float: left;
    width: (920px/4);
    margin: 0;
    padding: 0 15px;
    border: none;
    box-sizing: border-box;

    &-click {
      text-decoration: none;
      color: black;

      &:hover {
        .section-item-title {
          color: $blue;
        }
      }
    }
    &-img {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
      background-color: #e8e8e8;
      border-radius: 90px;

      img {
        width: 42px;
        height: 42px;
        padding: 24px;
      }
    }
    &-title {
      display: block;
      text-decoration: none;
      font-size: 18px;
      font-weight: $thin;
      text-align: center;

      &:visited {
        color: black;
      }
      &-tag {
        position: relative;

        &:after {
          content: "第三方";
          position: absolute;
          top: -12px;
          left: -20px;
          width: 60px;
          font-size: 18px;
          color: black;
          border: 1px solid #000;
          padding: 2px 4px;
          border-radius: 18px;
          transform: scale(0.5);
        }
      }
    }
    &-desc {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
      font-weight: $ultralight;
      text-align: center;
    }
  }
}

/**
 * Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
  color: black;
  font-weight: 600;
  transition: background .5s;

  .nav {
    @include clearfix;
    margin: 0 auto;
    box-sizing: border-box;

    .nav-left {
      float: left;

      .logo {
        opacity: 0;
        height: 90px;
        display: table-cell;
        vertical-align: middle;
        transition: all .5s;

        &:hover {
          cursor: pointer;
        }
        .logo-img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
          transition: all .5s;
        }
      }
    }
    .nav-right {
      float: right;

      .navbar {
        height: 90px;
        font-size: 13px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        transition: height .5s;

        &>li {
          margin-left: 30px;
          display: inline-block;
          cursor: pointer;
          opacity: .4;

          a {
            text-decoration: none;
            color: #000;
          }
          &:hover, &.active {
            opacity: 1;
          }
        }
      }
      .menu {
        display: table-cell;
        vertical-align: middle;
        display: none;
        width: 24px;
        height: 90px;
        background-color: transparent;
        background-image: url(../img/mobile-navigation.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 14px;
        border: none;
        cursor: pointer;
        transition: height .5s;
      }
    }
  }
  &.nav-collapse {
    background: rgba(255, 255, 255, .8);

    .nav-left {
      .logo {
        opacity: 1;
        height: 60px;

        .logo-img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .nav-right {
      .navbar {
        height: 60px;
      }
      .menu {
        height: 60px;
      }
    }
  }
}

/**
 * Hero Section
 */
.hero {
  position: relative;
  // margin-top: 70px;
  overflow: hidden;
  // width: 100%;
  height: 820px;
  background: black url(../img/bg.jpg) no-repeat;
  // background: black url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  .overlay {
    // padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, #000 100%)
  }
  .cover {
    padding-top: 220px;
    text-align: center;
    color: $blue;
    opacity: .8;

    .cover-logo {
      margin-bottom: 20px;
      .cover-logo-img {
        width: 120px;
      }
    }
    .cover-text {
      margin: 10px 0;
      display: block;
      font-size: 44px;
      font-weight: 300;
    }
    .cover-btns {
      margin-top: 34px;

      .cover-btn {
        padding: 12px 35px;
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        width: 120px;
        height: 45px;
        border: 2px solid $blue;
        border-radius: 45px;
        font-size: 14px;
        color: $blue;

        &:visited {
          color: $blue;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/**
 * About Section
 */
.about {
  background-color: $color-white;

  .section-title {
    margin-bottom: 32px;
  }
  /* Console */
  .command {
    border-radius: $radius-console;
    width: 700px;
    margin: 100px auto 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 40px;
    letter-spacing: 1px;

    &-bar {
      height: 30px;
      width: 100%;
      border-radius: $radius-console $radius-console 0 0;
      background-color: #D4D8D8;
      font-size: 0;

      &-circle {
        float: left;
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: #E96E4C;
        margin-top: 8px;
        margin-right: 8px;
        border-radius: 50%;

        &:nth-child(1) {
          margin-left: 14px;
        }
        &:nth-child(2) {
          background-color: #E6AA34;
        }
        &:nth-child(3) {
          background-color: #85C33D;
        }
      }
    }
    &-console {
      width: 100%;
      background-color: #49606B;
      font-size: 12px;
      padding: 34px 28px;
      line-height: 1.4;
      border-radius: 0 0 $radius-console $radius-console;

      &-block {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &-annotation {
        color: #4CC087;
      }
      &-line {
        color: #EACF52;
        word-break: break-all;
      }
    }
  }
}

/**
 * Feature Section
 */
.feature {
  background-color: $color-bg-gray;

  .features {
    margin: 0 auto;
    font-size: 0;
    width: 1140px;
    height: 340px;
  }
  &-item {
    display: inline-block;
    width: 240px;
    height: 340px;
    float: left;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 0 40px;
    list-style: none;
    margin-right: 40px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
  &-logo {
    display: table;
    width: 100%;
    height: 170px;

    .img-cnt {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      // width: 100%;
      max-width: 100px;
      max-height: 100px;
    }
  }
  &-name {
    font-size: 17px;
    color: #2D2D2D;
    margin-top: 10px;
  }
  &-desc {
    margin: 24px auto 0;
    width: 170px;
    font-size: 14px;
    color: #B8B8B8;
    line-height: 1.4;
  }
}

/**
 * Component Section
 */
.component {
  background-color: $color-white;

  .components {
    margin: 0 auto;
    font-size: 0;
    width: 1000px;
    height: 340px;
  }
  &-item {
    display: inline-block;
    width: 220px;
    height: 340px;
    background-color: #fff;
    list-style: none;
    float: left;
    margin-right: 20px;
    text-align: center;
    transition: all .4s;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.04) 0 10px 40px;
      transform: translate3d(-4px, -4px, 0);
    }
  }
  &-icon {
    display: table;
    width: 100%;
    height: 160px;

    .img-cnt {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  &-name {
    font-size: 17px;
    color: #2D2D2D;
    margin-top: 10px;
  }
  &-desc {
    margin: 16px auto 0;
    width: 170px;
    font-size: 14px;
    color: #B8B8B8;
    line-height: 1.4;
  }
  &-btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 2px solid #F4F4F4;
    border-radius: 4px;
    color: #202121;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    margin-top: 30px;
    transition: opacity .3s;

    &:hover {
      opacity: .8;
    }
  }
}

/**
 * Example Section
 */
.example {
  background-color: $color-bg-gray;
  overflow: auto;

  .examples {
    float: left;
    font-size: 0;
    width: 520px;
    height: 560px;
    padding: 0;
    margin-top: 110px;
  }
  &-item {
    display: inline-block;
    width: 256px;
    height: 275px;
    background-color: $color-bg-gray;
    list-style: none;
    float: left;
    text-align: center;
    transition: box-shadow .4s, transform .4s;
    z-index: 1;
    border-right: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
    cursor: pointer;

    &:nth-child(2n+2) {
      border-right: none;
    }
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      border-bottom: none;
    }
    &:hover {
      z-index: 2;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.04) 0 10px 40px;
      transform: translate3d(0, 0, 0) scale(1.05);
    }
  }
  &-icon {
    display: table;
    width: 100%;
    height: 160px;

    .img-cnt {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  &-name {
    font-size: 17px;
    color: #2D2D2D;
    margin-top: 10px;
  }

  /* phone */
  &-phone {
    float: right;
    background: url('../img/phone.png') no-repeat 0 0;
    width: 378px;
    height: 682px;
    margin-top: 40px;

    &-screen {
      width: 264px;
      height: 462px;
      background-color: #fff;
      margin: 100px auto 0;
      position: relative;
      overflow: hidden;
    }
    &-logo {
      width: 72px;
      height: 80px;
      @include image2x-background('icons/aotu');
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -36px;
      margin-top: -40px;
    }
    &-qrcode {
      margin: 0 auto;
      text-align: center;
      margin-top: 40px;
    }
    &-desc {
      font-size: 14px;
      color: #495A65;
      width: 220px;
      margin: 0 auto;
      font-weight: lighter;
      letter-spacing: 1.7px;
      line-height: 1.4;
      margin-top: 20px;
    }
    &-command {
      margin: 20px auto 0;
      width: 220px;
      color: #6190E8;
      background-color: #F3F3F3;
      padding: 10px;
      padding-left: 20px;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #6190E8;
      }
    }
    &-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -90px;
      margin-bottom: 30px;
      width: 180px;
      height: 40px;
      font-size: 14px;
      color: #6190E8;
      border: 1px solid #6190E8;
      border-radius: 20px;
      text-align: center;
      line-height: 40px;
      transition: opacity .3s;

      &:before {
        content: '';
        @include image2x-background('icons/window');
        display: inline-block;
        width: 10px;
        height: 12px;
        margin-right: 6px;
      }
      &:hover {
        opacity: .8;
      }
    }
  }
}

/**
 * Footer
 */
.footer {
  background-color: $color-white;
  padding: 40px 0 50px;
  text-align: center;
  color: #6190E8;

  .container {
    position: relative;
  }
  &-logo {
    width: 198px;
    height: 40px;
    @include image2x-background('icons/o2logo');
    margin: 10px 0 14px;
  }
  &-desc {
    text-align: left;
    font-size: 12px;
    color: #6190E8;
  }
  &-copyright {
    letter-spacing: 1px;
    font-weight: 300;

    a {
      color: #6190E8;
      text-decoration: none;
    }
  }
  .github-logo {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 42px;
    height: 42px;
    @include image2x-background('icons/github');
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/**
 * Media Query
 */
@media (max-width:768px) {
  html {
    min-width: 480px;
  }
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .header {
    .nav {
      .nav-right {
        .navbar {
          opacity: 0;
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          transition: all .5s;

          li {
            display: none;
            margin: 0;
            padding: 12px;
            font-size: 18px;
          }
          &.open {
            display: block;
            padding-top: 160px;
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .9);
            transition: all .5s;

            li {
              display: block;
            }
          }
        }
        .menu {
          display: block;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  .hero {
    .hero-cover {
      background-image: none;
      // margin-top: 280px;
      width: 100%;

      .hero-info {
        position: relative;
        text-align: center;
        margin: 0;
      }
    }
    .cover {
      .cover-logo .cover-logo-img {
        width: 90px;
      }
      .cover-text {
        font-size: 34px;
      }
    }
  }
  .section {
    &-item {
      // width: 280px;
      width: 100%;
      margin-bottom: 40px;
    }
    &-title {
      font-size: 24px;
    }
    &-desc {
      font-size: 16px;
    }
  }
  .about {
    &-desc {
      padding: 0;
    }
    .command {
      width: 320px;

      &-console-line {
        word-break: break-all;
      }
    }
  }
  .feature {
    .features {
      width: 346px;
      height: 500px;
    }
    &-item {
      width: 160px;
      height: 240px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &-logo {
      height: 120px;

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
    &-name {
      font-size: 16px;
      margin-top: 0;
    }
    &-desc {
      width: 140px;
      font-size: 12px;
      margin-top: 16px;
    }
  }
  .component {
    .components {
      width: 350px;
      height: 500px;
    }
    &-item {
      width: 160px;
      height: 248px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &-icon {
      height: 120px;

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
    &-name {
      font-size: 16px;
      margin-top: 0px;
    }
    &-desc {
      width: 140px;
      font-size: 11px;
    }
    &-btn {
      width: 90px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
  .example {
    .examples {
      float: none;
      margin: 80px auto 0;
      width: 330px;
      height: 330px;
    }
    &-item {
      width: 160px;
      height: 160px;
    }
    &-icon {
      height: 100px;

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
    &-name {
      font-size: 16px;
    }
    &-phone {
      display: none;
    }
  }
  .footer {
    &-logo {
      width: 148px;
      height: 30px;
      background-size: 100% auto;
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 10px;
    }
    .github-logo {
      width: 32px;
      height: 32px;
      background-size: 100% auto;
      top: 10px;
      right: 10px;
    }
  }
}
@media (max-width:480px) {
  html {
    min-width: 380px;
  }
  .container {
    width: 380px;
  }
}
@media (max-width:380px) {
  html {
    min-width: 340px;
  }
  .container {
    width: 340px;
  }
}
@media (max-width:340px) {
  html {
    min-width: 300px;
  }
  .container {
    width: 300px;
  }
}
