@import "~normalize.css/normalize.css";
@import "./const.scss";
@import "./loader.css";
body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

html {
  min-width: 960px;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
  color: white;
  transition: background .5s;
  .nav {
    @include clearfix;
    margin: 0 auto;
    box-sizing: border-box;
    .nav-left {
      float: left;
      .logo {
        height: 90px;
        display: table-cell;
        vertical-align: middle;
        transition: height .5s;
        &:hover {
          cursor: pointer;
        }
        .logo-img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
          transition: all .5s;
        }
      }
    }
    .nav-right {
      float: right;
      .navbar {
        height: 90px;
        font-size: 13px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        transition: height .5s;
        &>li {
          margin-left: 40px;
          display: inline-block;
          cursor: pointer;
          opacity: .4;
          &:hover,
          &.active {
            opacity: 1;
          }
        }
      }
      .menu {
        display: table-cell;
        vertical-align: middle;
        display: none;
        width: 24px;
        height: 90px;
        background-color: transparent;
        background-image: url(../img/mobile-navigation.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 14px;
        border: none;
        cursor: pointer;
        transition: height .5s;
      }
    }
  }
  &.nav-collapse {
    background: rgba(0, 0, 0, .9);
    .nav-left {
      .logo {
        height: 60px;
        .logo-img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .nav-right {
      .navbar {
        height: 60px;
      }
      .menu {
        height: 60px;
      }
    }
  }
}

#hero {
  position: relative;
  // margin-top: 70px;
  overflow: hidden;
  // width: 100%;
  height: 770px;
  background: black url(../img/banner-bg.jpg) no-repeat;
  // background: black url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .overlay {
    // padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, #000 100%)
  }
  .hero-cover {
    margin-top: 210px;
    float: left;
    position: relative;
    width: (900px/1.2);
    height: (467px/1.2);
    background: url(../img/cover.png) no-repeat;
    background-size: cover;
    background-position-x: -5px;
  }
  .hero-info {
    position: absolute;
    right: 0;
    margin-right: -120px;
    margin-top: 80px;
    color: white;
    .hero-info-title {
      font-size: 50px;
      font-weight: $thin;
      line-height: 50px;
      text-transform: uppercase;
    }
    .hero-info-desc {
      font-size: 18px;
      font-weight: $ultralight;
      line-height: 48px;
      margin: 10px auto 40px;
    }
    .hero-info-links {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin-right: 20px;
          display: inline-block;
          height: 60px;
          width: 60px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, .1);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 32px;
          border-radius: 72px;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          &:hover {
            background-color: rgba(0, 0, 0, .5);
          }
          &.github {
            background-image: url(../img/github.png);
          }
          &.npm {
            background-image: url(../img/npm.png);
          }
          &.issue {
            background-image: url(../img/issue.png);
          }
        }
      }
    }
  }
}

.section {
  padding: 80px 0 45px;
  // padding-top: 80px;
  color: black;
  &-title {
    font-size: 24px;
    font-weight: $thin;
    text-align: center;
  }
  &-devider {
    margin: 20px auto 45px;
    background-color: black;
    height: 1px;
    width: 100px;
  }
  &-items {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
  }
  &-item {
    float: left;
    width: (920px/4);
    margin: 0;
    padding: 0 15px;
    border: none;
    box-sizing: border-box;
    &-click {
      text-decoration: none;
      color: black;
      &:hover {
        .section-item-title {
          color: $blue;
        }
      }
    }
    &-img {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
      background-color: #e8e8e8;
      border-radius: 90px;
      img {
        width: 42px;
        height: 42px;
        padding: 24px;
      }
    }
    &-title {
      display: block;
      text-decoration: none;
      font-size: 18px;
      font-weight: $thin;
      text-align: center;
      &:visited {
        color: black;
      }
      &-tag {
        position: relative;
        &:after {
          content: "第三方";
          position: absolute;
          top: -12px;
          left: -20px;
          width: 60px;
          font-size: 18px;
          color: black;
          border: 1px solid #000;
          padding: 2px 4px;
          border-radius: 18px;
          transform: scale(0.5);
        }
      }
    }
    &-desc {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
      font-weight: $ultralight;
      text-align: center;
    }
  }
}

.about {
  background-color: #F8F8F8;
  &-desc {
    padding: 0 35px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: $thin;
    word-break: break-all;
  }
}

.usage {
  &-command {
    margin: 0 35px;
    padding: 20px;
    background-color: #292957;
    font-family: Consolas;
    font-size: 14px;

    p {
      margin: 2px 0;
    }
  
    &-block {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-note {
      color: #9B9B9B;
      span {
        color: #11A7D1;
      }
    }
    &-line {
      color: white;
      font-size: 16px;
      word-break: break-all;
      span {
        color: #FF8C80;
        font-size: 14px;
      }
    }
  }
}

.feature {
  background-color: white;
}

.component {
  background-color: #F8F8F8;
}

.example {
  background-color: white;
  .example-item-list {
    @include clearfix;
  }
  .example-item {
    margin-bottom: 45px;
    margin-left: 30px;
    width: 280px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
    &-win {
      position: relative;
      width: 280px;
      height: 499px;
      overflow: hidden;
      &:hover {
        .example-item-float {
          top: 0px;
          transition: top .6s;
        }
      }
      .npm-version {
        position: absolute;
        top: 285px;
        left: 86px;
        transform: scale(0.7);
      }
    }
    &-float {
      position: absolute;
      left: 0;
      top: 499px;
      width: 100%;
      height: 100%;
      padding: 40px 40px 0;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, .2);
      background-color: white;
      transition: top .6s;
    }
    &-qr {
      margin-bottom: 20px;
    }
    &-desc {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: $ultralight;
      word-break: break-all;
    }
    &-command {
      margin-bottom: 30px;
      width: 200px;
      height: 42px;
      line-height: 42px;
      background-color: #DDDDDD;
      color: #4A4A4A;
      font-size: 16px;
      font-weight: $thin;
      &:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 4px;
        height: 42px;
        background-color: $blue;
      }
      span {
        margin-left: 20px;
        margin-right: 10px;
        color: #EB6F6C;
      }
    }
    &-open {
      width: 200px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #4A4A4A;
      border-radius: 40px;
      font-size: 14px;
      font-weight: $thin;
      text-align: center;
      img {
        vertical-align: middle;
        width: 12px;
        height: 12px;
      }
    }
    &-img {
      width: 280px;
      height: 499px;
    }
    &-title {
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: $thin;
      text-align: center;
    }
  }
}

.subscribe {
  background-color: #46a694;
  .sec-heading {
    padding: 63px 0 54px;
    text-align: center;
    color: white;
    .sec-heading-main {
      margin: 0 0 30px;
      font-size: 18px;
      font-weight: $thin;
    }
    .follow-pic {
      margin: 0 0 30px;
    }
    .follow-desc {
      margin: 0 0 30px;
      font-size: 14px;
      font-weight: $thin;
    }
    .follow-acount {
      margin: 0;
      font-size: 12px;
      font-weight: $thin;
      vertical-align: baseline;
      .follow-icon {
        width: 24px;
        height: 24px;
        vertical-align: -6px;
      }
      .follow-lab {
        font-weight: $bold;
      }
    }
  }
}

.footer {
  background-color: #25292c;
  padding: 40px 0 50px;
  text-align: center;
  color: white;
  .arrow {
    margin: 0 auto;
    padding-top: 20px;
    display: inline-block;
    background-image: url(../img/footer-arrow-up.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px 14px;
    cursor: pointer;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  &-desc {
    font-size: 14px;
    color: white;
  }
  &-copyright {
    padding: 80px 0 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &-words {
    opacity: .5;
  }
}

@media (max-width: 768px) {
  html {
    min-width: 480px;
  }
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .header {
    .nav {
      .nav-right {
        .navbar {
          opacity: 0;
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          transition: all .5s;
          li {
            display: none;
            margin: 0;
            padding: 8px;
            font-size: 18px;
          }
          &.open {
            display: block;
            padding-top: 220px;
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            transition: all .5s;
            li {
              display: block;
            }
          }
        }
        .menu {
          display: block;
        }
      }
    }
  }
  #hero {
    .hero-cover {
      background-image: none;
      // margin-top: 280px;
      width: 100%;
      .hero-info {
        position: relative;
        text-align: center;
        margin: 0;
      }
    }
  }
  .section {
    &-item {
      // width: 280px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .usage {
    &-command {
      margin: 0;
      padding: 20px 5px;
    }
  }

  .about {
    &-desc {
      padding: 0;
    }
  }

  .example {
    .example-item-list {
      .example-item {
        margin: 0 auto 40px;
        text-align: center;
        width: 100%;
        .example-item-win {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  html {
    min-width: 380px;
  }
  .container {
    width: 380px;
  }
}

@media (max-width: 380px) {
  html {
    min-width: 340px;
  }
  .container {
    width: 340px;
  }
}

@media (max-width: 340px) {
  html {
    min-width: 300px;
  }
  .container {
    width: 300px;
  }
}
