/**
 * Landing page
 */
.wrapper {
  overflow: hidden;
}
.container {
  // width: 960px;
  width: 1140px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;

  &-subtitle {
    font-size: 15px;
    color: $color-subtitle;
    text-align: center;
    font-weight: normal;
  }
  &-title {
    font-size: 33px;
    font-weight: $thin;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 17px;
    color: $color-desc;
    text-align: center;
    font-weight: $thin;
    line-height: 1.4;
    margin-bottom: 50px;
  }
  &-arrow {
    text-align: center;
  }
  &-items {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
  }
  &-item {
    float: left;
    width: (920px/4);
    margin: 0;
    padding: 0 15px;
    border: none;
    box-sizing: border-box;

    &-click {
      text-decoration: none;
      color: black;

      &:hover {
        .section-item-title {
          color: $blue;
        }
      }
    }
    &-img {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
      background-color: #e8e8e8;
      border-radius: 90px;

      img {
        width: 42px;
        height: 42px;
        padding: 24px;
      }
    }
    &-title {
      display: block;
      text-decoration: none;
      font-size: 18px;
      font-weight: $thin;
      text-align: center;

      &:visited {
        color: black;
      }
      &-tag {
        position: relative;

        &:after {
          content: "第三方";
          position: absolute;
          top: -12px;
          left: -20px;
          width: 60px;
          font-size: 18px;
          color: black;
          border: 1px solid #000;
          padding: 2px 4px;
          border-radius: 18px;
          transform: scale(0.5);
        }
      }
    }
    &-desc {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
      font-weight: $ultralight;
      text-align: center;
    }
  }
}

/**
 * Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
  color: black;
  font-weight: 600;
  transition: background .5s;

  .nav {
    @include clearfix;
    margin: 0 auto;
    box-sizing: border-box;

    .nav-left {
      float: left;

      .logo {
        opacity: 0;
        height: 90px;
        display: table-cell;
        vertical-align: middle;
        transition: all .5s;

        &:hover {
          cursor: pointer;
        }
        .logo-img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
          transition: all .5s;
        }
      }
    }
    .nav-right {
      float: right;

      .navbar {
        height: 90px;
        font-size: 13px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        transition: height .5s;

        &>li {
          margin-left: 30px;
          display: inline-block;
          cursor: pointer;
          opacity: .4;

          &:hover, &.active {
            opacity: 1;
          }
        }
      }
      .menu {
        display: table-cell;
        vertical-align: middle;
        display: none;
        width: 24px;
        height: 90px;
        background-color: transparent;
        background-image: url(../img/mobile-navigation.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 14px;
        border: none;
        cursor: pointer;
        transition: height .5s;
      }
    }
  }
  &.nav-collapse {
    background: rgba(255, 255, 255, .8);

    .nav-left {
      .logo {
        opacity: 1;
        height: 60px;

        .logo-img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .nav-right {
      .navbar {
        height: 60px;
      }
      .menu {
        height: 60px;
      }
    }
  }
}

/**
 * Hero Section
 */
.hero {
  position: relative;
  // margin-top: 70px;
  overflow: hidden;
  // width: 100%;
  height: 770px;
  background: black url(../img/bg.jpg) no-repeat;
  // background: black url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  .overlay {
    // padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, #000 100%)
  }
  .cover {
    padding-top: 160px;
    text-align: center;

    .cover-logo {
      .cover-logo-img {
        width: 120px;
      }
    }
    .cover-text {
      margin-top: 20px;
      display: block;
      font-size: 44px;
      font-weight: 300;
    }
    .cover-btns {
      margin-top: 34px;

      .cover-btn {
        padding: 12px 35px;
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        color: #8173BC;
        width: 120px;
        height: 45px;
        border: 2px solid #8173BC;
        border-radius: 45px;
        font-size: 14px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/**
 * About Section
 */
.about {
  background-color: $color-white;

  .section-title {
    margin-bottom: 32px;
  }
  /* Console */
  .command {
    border-radius: $radius-console;
    width: 700px;
    margin: 100px auto 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 40px;
    letter-spacing: 1px;

    &-bar {
      height: 30px;
      width: 100%;
      border-radius: $radius-console $radius-console 0 0;
      background-color: #D4D8D8;
      font-size: 0;

      &-circle {
        float: left;
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: #E96E4C;
        margin-top: 8px;
        margin-right: 8px;
        border-radius: 50%;

        &:nth-child(1) {
          margin-left: 14px;
        }
        &:nth-child(2) {
          background-color: #E6AA34;
        }
        &:nth-child(3) {
          background-color: #85C33D;
        }
      }
    }
    &-console {
      width: 100%;
      background-color: #49606B;
      font-size: 12px;
      padding: 34px 28px;
      line-height: 1.4;
      border-radius: 0 0 $radius-console $radius-console;

      &-block {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &-annotation {
        color: #4CC087;
      }
      &-line {
        color: #EACF52;
      }
    }
  }
}

/**
 * Feature Section
 */
.feature {
  background-color: $color-bg-gray;

  .features {
    margin: 0 auto;
    font-size: 0;
    width: 1140px;
    height: 340px;
  }
  &-item {
    display: inline-block;
    width: 240px;
    height: 340px;
    float: left;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 0 40px;
    list-style: none;
    margin-right: 40px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
  &-logo {
    display: table;
    width: 100%;
    height: 170px;

    .img-cnt {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      // width: 100%;
      max-width: 100px;
      max-height: 100px;
    }
  }
  &-name {
    font-size: 17px;
    color: #2D2D2D;
    margin-top: 10px;
  }
  &-desc {
    margin: 24px auto 0;
    width: 170px;
    font-size: 14px;
    color: #B8B8B8;
    line-height: 1.4;
  }
}

/**
 * Component Section
 */
.component {
  background-color: $color-white;

  .components {
    margin: 0 auto;
    font-size: 0;
    width: 1000px;
    height: 340px;
  }
  &-item {
    display: inline-block;
    width: 220px;
    height: 340px;
    background-color: #fff;
    list-style: none;
    float: left;
    margin-right: 20px;
    text-align: center;
    transition: all .6s;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.04) 0 10px 40px;
      transform: translate3d(-4px, -4px, 0);
    }
  }
  &-icon {
    display: table;
    width: 100%;
    height: 160px;

    .img-cnt {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  &-name {
    font-size: 17px;
    color: #2D2D2D;
    margin-top: 10px;
  }
  &-desc {
    margin: 16px auto 0;
    width: 170px;
    font-size: 14px;
    color: #B8B8B8;
    line-height: 1.4;
  }
  &-btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 2px solid #F4F4F4;
    border-radius: 4px;
    color: #202121;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    margin-top: 30px;
  }
}

/**
 * Example Section
 */
.example {
  background-color: white;

  .example-item-list {
    @include clearfix;
  }
  .example-item {
    margin-bottom: 45px;
    margin-left: 30px;
    width: 280px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }
    &-win {
      position: relative;
      width: 280px;
      height: 499px;
      overflow: hidden;

      &:hover {
        .example-item-float {
          top: 0px;
          transition: top .6s;
        }
      }
      .npm-version {
        position: absolute;
        top: 285px;
        left: 86px;
        transform: scale(0.7);
      }
    }
    &-float {
      position: absolute;
      left: 0;
      top: 499px;
      width: 100%;
      height: 100%;
      padding: 40px 40px 0;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, .2);
      background-color: white;
      transition: top .6s;
    }
    &-qr {
      margin-bottom: 20px;
    }
    &-desc {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: $ultralight;
      word-break: break-all;
    }
    &-command {
      margin-bottom: 30px;
      width: 200px;
      height: 42px;
      line-height: 42px;
      background-color: #DDDDDD;
      color: #4A4A4A;
      font-size: 16px;
      font-weight: $thin;

      &:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 4px;
        height: 42px;
        background-color: $blue;
      }
      span {
        margin-left: 20px;
        margin-right: 10px;
        color: #EB6F6C;
      }
    }
    &-open {
      width: 200px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #4A4A4A;
      border-radius: 40px;
      font-size: 14px;
      font-weight: $thin;
      text-align: center;

      img {
        vertical-align: middle;
        width: 12px;
        height: 12px;
      }
    }
    &-img {
      width: 280px;
      height: 499px;
    }
    &-title {
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: $thin;
      text-align: center;
    }
  }
}


.subscribe {
  background-color: #46a694;

  .sec-heading {
    padding: 63px 0 54px;
    text-align: center;
    color: white;

    .sec-heading-main {
      margin: 0 0 30px;
      font-size: 18px;
      font-weight: $thin;
    }
    .follow-pic {
      margin: 0 0 30px;
    }
    .follow-desc {
      margin: 0 0 30px;
      font-size: 14px;
      font-weight: $thin;
    }
    .follow-acount {
      margin: 0;
      font-size: 12px;
      font-weight: $thin;
      vertical-align: baseline;

      .follow-icon {
        width: 24px;
        height: 24px;
        vertical-align: -6px;
      }
      .follow-lab {
        font-weight: $bold;
      }
    }
  }
}

/**
 * Footer
 */
.footer {
  background-color: #25292c;
  padding: 40px 0 50px;
  text-align: center;
  color: white;

  .arrow {
    margin: 0 auto;
    padding-top: 20px;
    display: inline-block;
    background-image: url(../img/footer-arrow-up.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px 14px;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
  &-desc {
    font-size: 14px;
    color: white;
  }
  &-copyright {
    padding: 80px 0 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }
  &-words {
    opacity: .5;
  }
}

/**
 * Media Query
 */
@media (max-width:768px) {
  html {
    min-width: 480px;
  }
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .header {
    .nav {
      .nav-right {
        .navbar {
          opacity: 0;
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          transition: all .5s;

          li {
            display: none;
            margin: 0;
            padding: 8px;
            font-size: 18px;
          }
          &.open {
            display: block;
            padding-top: 220px;
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            transition: all .5s;

            li {
              display: block;
            }
          }
        }
        .menu {
          display: block;
        }
      }
    }
  }
  #hero {
    .hero-cover {
      background-image: none;
      // margin-top: 280px;
      width: 100%;

      .hero-info {
        position: relative;
        text-align: center;
        margin: 0;
      }
    }
  }
  .section {
    &-item {
      // width: 280px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .usage {
    &-command {
      margin: 0;
      padding: 20px 5px;
    }
  }
  .about {
    &-desc {
      padding: 0;
    }
  }
  .example {
    .example-item-list {
      .example-item {
        margin: 0 auto 40px;
        text-align: center;
        width: 100%;

        .example-item-win {
          margin: 0 auto;
        }
      }
    }
  }
}
@media (max-width:480px) {
  html {
    min-width: 380px;
  }
  .container {
    width: 380px;
  }
}
@media (max-width:380px) {
  html {
    min-width: 340px;
  }
  .container {
    width: 340px;
  }
}
@media (max-width:340px) {
  html {
    min-width: 300px;
  }
  .container {
    width: 300px;
  }
}
