/**
 * Variables
 */
$ultralight: 100;
$thin: 300;
$bold: 500;

// Color
$blue: #6190E8;
$color-white: #FFF;
$color-subtitle: #2C2C2C;
$color-title: #2C2C2C;
$color-desc: #969695;
$color-bg-gray: #FCFCFC;

// Radius
$radius-console: 7px;
